
p{
  font-size: 18px;
  text-align: center;
}
#missao-destaque{
  color: blue;
}
#missao{
  font-size: 25px;
  color: #ff0505;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
  font-size: 25px;
}
img{
  width: 100%;
}
#Benificios{
  font-size: 25px;
}
.beneficios{
  background-color: #ffffffff;
  padding: 20px;
}
.item{
  font-style: italic;
}
.imagem-beneficios{
  width: 50%;
}
ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 20%;
}
.principal{
  background-color: #cccc;
  padding: 20;
}